.Alert {
  padding: 0.25em;
  position: relative;
}

.success { color: var(--clr-success) }
.error { color: var(--clr-danger) }

.Alert::before {
  background: currentColor;
  content: "";
  inset: 0 0 0 0;
  opacity: 0.1;
  position: absolute;
}
