.PropertyCard {
  background-color: var(--bg-clr-light);
  display: grid;
  font-size: 0.825rem;
  gap: 1em;
  padding: 0.5rem;
  text-align: left;
}

.PropertyCard__header {
  background: var(--bg-clr-mid);
  color: var(--clr-brand);
  display: grid;
  font-size: 2rem;
  padding: 1em;
  place-content: center;
}

.PropertyCard__main {
  display: grid;
  gap: 0.5em;
  padding: 0.25rem;
}

.PropertyCard__title {
  font-size: 0.825rem;
}

.PropertyCard__description {
  font-style: italic;
}

.PropertyCard__bathrooms {
  display: flex;
  gap: 0.5em;
}

.PropertyCard__bedrooms {
  display: flex;
  gap: 0.5em;
}

.PropertyCard__bed-icon {
  font-size: 1rem;
}

.PropertyCard__currency {
  font-weight: 600;
}

.PropertyCard__mailto {
  align-self: flex-end;
  background-color: rgb(118, 72, 123);
  color: var(--font-clr-light);
  display: flex;
  gap: 0.2em;
  justify-content: center;
  padding: 1em;
  text-decoration: none;
  text-transform: capitalize;
}

.PropertyCard__mailtoIcon {
  font-size: 1.25em;
}
