.property-card {
  background-color: var(--bg-clr-light);
  display: grid;
  font-size: 0.825rem;
  gap: 1em;
  padding: 0.5rem;
  text-align: left;
}

.property-card__header {
  background: var(--bg-clr-mid);
  color: var(--clr-brand);
  display: grid;
  font-size: 2rem;
  padding: 1em;
  place-content: center;
}

.property-card__main {
  display: grid;
  gap: 0.5em;
  padding: 0.25rem;
}

.property-card__title {
  font-size: 0.825rem;
}

.property-card__type-and-location {
  font-style: italic;
}

.property-card__bathrooms {
  display: flex;
  gap: 0.5em;
}

.property-card__bedrooms {
  display: flex;
  gap: 0.5em;
}

.property-card__bed-icon {
  font-size: 1rem;
}

.property-card__currency {
  font-weight: 600;
}

.property-card__mailto {
  align-self: flex-end;
  height: min-height;
  align-items: center;
  background-color: rgb(118, 72, 123);
  color: #fff;
  display: flex;
  gap: 0.2em;
  justify-content: center;
  padding: 1em;
  text-decoration: none;
  text-transform: capitalize;
}

.property-card__mail-icon {
  font-size: 1.25em;
}
