.SideBar {
  color: var(--font-clr-light);
  min-height: 100%;
  position: fixed;
  background: var(--clr-brand);
  right: 10rem;
  width: 18rem;
  transition: all 500ms ease;
  z-index: 1;
}

.SideBar--open {
  transform: translateX(10rem);
}

.SideBar--closed {
  transform: translateX(26rem);
}

.SideBar *:not(a) {
  transition: all 500ms ease;
}

.SideBar--closed > *:not(.SideBar__toggleButton) {
  opacity: 0;
}

.SideBar__toggleButton {
  background: none;
  position: sticky;
  top: 0;
  aspect-ratio: 1;
  display: grid;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  place-items: center;
  width: 2rem;
}

.SideBar__toggleIcon {
  transition: all 500ms ease;
}

.SideBar__toggleIcon--open {
  transform: rotateZ(45deg);
}

.SideBar__toggleIcon--closed {
  transform: rotateZ(0deg);
}

.SideBar__section {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  border-bottom: 1px solid var(--bg-clr-dark);
}

.SideBar__section:first-of-type {
  padding-top: 0;
}

.SideBar__linkList {
  display: grid;
  gap: 1rem;
}

.SideBar__link--active {
  color: var(--font-clr-light);
  font-weight: bold;
  text-decoration: underline;
}

.SideBar__search {
  position: relative;
}

.SideBar__search label {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.SideBar__search input {
  margin-right: 2rem;
}

.SideBar__searchButton {
  display: grid;
  place-content: center;
  position: absolute;
  height: 100%;
  aspect-ratio: 1;
  background: var(--bg-clr-dark);
  color: var(--font-clr-dark);
  right: 0;
  top: 0;
}

.SideBar__resetButton {
  font-size: 1rem;
  margin: 2rem 2rem;
  color: var(--font-clr-dark);
  background: var(--bg-clr-light);
}
