.sidebar {
  color: var(--font-clr-light);
  min-height: 100%;
  position: fixed;
  background: var(--clr-brand);
  right: 10rem;
  width: 18rem;
  transition: all 500ms ease;
  z-index: 1;
}

.sidebar--open {
  transform: translateX(10rem);
}

.sidebar--closed {
  transform: translateX(26rem);
}

.sidebar *:not(a) {
  transition: all 500ms ease;
}

.sidebar--closed > *:not(.sidebar__toggle-button) {
  opacity: 0;
}

.sidebar__toggle-button {
  background: none;
  position: sticky;
  top: 0;
  aspect-ratio: 1;
  display: grid;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  place-items: center;
  width: 2rem;
}

.sidebar__icon {
  transition: all 500ms ease;
}

.sidebar__icon--open {
  transform: rotateZ(45deg);
}

.sidebar__icon--closed {
  transform: rotateZ(0deg);
}

.sidebar__section {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  border-bottom: 1px solid var(--bg-clr-dark);
}

.sidebar__section:first-of-type {
  padding-top: 0;
}

.sidebar__link-list {
  display: grid;
  gap: 1rem;
}

.sidebar__link--active {
  color: var(--font-clr-light);
  font-weight: bold;
}

.sidebar__form {
  position: relative;
}

.sidebar__form label {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.sidebar__form input {
  margin-right: 2rem;
}

.sidebar__form button {
  display: grid;
  place-content: center;
  position: absolute;
  height: 100%;
  aspect-ratio: 1;
  background: var(--bg-clr-dark);
  color: var(--font-clr-dark);
  right: 0;
  top: 0;
}

.sidebar__form button span {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sidebar__reset-button {
  font-size: 1rem;
  margin: 2rem 2rem;
  color: var(--font-clr-dark);
  background: var(--bg-clr-light);
}
